{% extends "parciais/base.html" %}
{% block content %}
<div class="shadow mb-4  rounded" style="background-color: #F2F2F2;" align="center">
    <h2><strong>Lista das Categorias</strong></h2>
</div>
<div class="container mb-4">
    <a href="/categoria/cad_categoria/" class="btn btn-info btn-sm" role="button">NOVA CATEGORIA</a>
    <a href="/despesas/" class="btn btn-info btn-sm" role="button">CANCELAR</a>
</div>
<section class="container-fluid margin">
            <div class="table-responsive-lg">
                <table class="table table-xl table-striped">
                    <thead class="thead-dark" align="center">
                        <tr>
                        <th scope="col">CATEGORIAS</th>
                        </tr>
                    </thead>
                    <tbody align="center">
                           {% for x in ls_cat %}
                                <tr>
                                <th>{{ x.nome_cat | upper}}</th>
                                </tr>
                           {% endfor %}
                    </tbody>
                </table>
            </div>
</section>

{% endblock %}